.welcome {
    height: 150px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(149, 155, 151, 50%);
}

.welcomeIntro {
    margin: 0px;
    font-family: 'Shadows Into Light', cursive;
}

.welcomeMessage {
    margin: 0px;
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
}